
/* Styling for images */
.bg-img{
    margin-left: 300px;
    margin-top: 150px;
}

/* Styling for Navbar */

.main-name{
}

.name{   
    font-size: 18px;
    color: white;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.left_navbar{
    display: flex;
    justify-content: end;
}

.nav-item{
    padding-left: 3px; 
    padding-right: 3px; 
    border-left: 3px;
    border-right: 3px; 
}

.nav-item:hover{
    background-color: #474E68;
    
}

/* styling for first container */
.first-container{
    padding-top: 70px;
    background-image: url('images/background_img.avif');
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    align-items: center;
}

.intro{
    position: absolute;
    top: 40%;
    left: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}

.first-container .intro span{
    color: #B3005E;
}


/* Styling for middle container */
.about-Container{
    padding-top: 70px;
    /* position:absolute; */
    width:100vw;
    height:100vh;

}

.about-Container .heading{
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

.about-info{
    display: flex;
    justify-content: space-between;
}

.my-photo{
    display: block;
    width: 35%;
    height:80%;
    padding-top: 20px;
    padding-left: 100px;
}